{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/slide.js"></script>
{% endblock head %}

{% block center_body %}

    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'df_goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="#">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="#">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for section in sections %}
                <li><a href="#model{{ section.category.id }}" class="{{ section.style }}">{{ section.category.ttitle }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
                <li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
                <li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
                <li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="/static/images/adv01.jpg"></a>
            <a href="#"><img src="/static/images/adv02.jpg"></a>
        </div>
    </div>

    {% for section in sections %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model{{ section.category.id }}">{{ section.category.ttitle }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {% for goods in section.hot %}
                        <a href="{% url 'df_goods:detail' goods.id %}">{{ goods.gtitle|slice:':10' }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'df_goods:good_list' section.category.id 1 1 %}" class="goods_more fr">查看更多 &gt;</a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="/static/{{ section.banner }}"></div>
                <ul class="goods_list fl">
                    {% for goods in section.latest %}
                        <li>
                            <h4><a href="{% url 'df_goods:detail' goods.id %}">{{ goods.gtitle }}</a></h4>
                            <a href="{% url 'df_goods:detail' goods.id %}"><img src="{{ goods.image_url }}"></a>
                            <div class="prize">￥ {{ goods.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        BCSlideshow('focuspic');
    </script>

{% endblock center_body %}
